#container{
    width: 30%;
    height: 720px;
    margin: auto;
    font-family: MentiDisplay, Arial, sans-serif;
    text-align: center;
}
#container>img{
 width: 50%;
 margin: 30px 0px 0px 0px;
}
#container>h1{
font-size: 45px;
}
#container>p{
    color: rgb(97, 93, 93);
    font-size: 19px;
    margin-top: -10px;
    margin-bottom: 30px;
}
#social{
     border-radius: 5px;
     height: 30px;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    background: #4267b2;
    }
    #social>a{
        text-decoration: none;
        color: white;
       }

    .fb>img{
            height: 16px;
            width: 15px;
          }
    #goo>button{
    border-radius: 3px;
    height: 37px;
    text-align: center;
    width: 80%;
    margin: auto;
    border: 1px solid black;
    margin-top: 10px;
    background-color: white;
    border-color: rgb(97, 93, 93);
    
    }
#goo :hover{
        background-color: rgb(158, 152, 152)
    }
#goo>button>a{
    text-decoration: none;
    color: black;
    margin-top: 5px;
    font-size: 17px;
  }

#goo>button>a>img{
           height: 16px;
            width: 15px;
        }
        .and{
           color: rgb(153, 145, 145);
           font-family: MentiDisplay, Arial, sans-serif;
           font-size: 13px; 
           font-weight: lighter;
        }   
        #mail{
            text-align: left;
            margin-left: 50px;
            color: rgb(35, 34, 34);
        }
        #mail>input{
            margin-top: -100px;
            width: 350px;
            height: 34px;
        }
        .log{
            width: 78%;
            height: 35px;
            background-color: rgb(15, 71, 241); 
            color: white;
            font-size: 15px;
            border: 0px;
            border-radius: 3px;
            margin-top: 30px;
        }
        .blue{
            width: 350px;
            height: 30px;
            margin: auto;
            display: flex;
            justify-content: space-around;
            
            font-weight: 700;
            
        }
        .blue>a{
            text-decoration: none;
            color: rgb(15, 71, 241);
        }
        .last{
            margin-top: 40px;
            color:rgb(64, 62, 62) ;
        }
        .last>a{
            text-decoration: none;
            color: rgb(15, 71, 241);
        }